

/* body {
  font-family: "Helvetica", sans-serif;
  font-size: 30px;
  color: #800080; 
  margin: 0; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
}

h1 {
  font-size: 30px;
}

h2 {
  color: #800080; 
}

p {
  color: #800080; 
}


form {
  max-width: 400px; 
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
}

form label,
form input,
form select,
form button {
  display: block;
  margin-bottom: 10px;
}

form button {
  background-color: #800080; 
  color: #fff; 
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
 */